extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        h1= data.project_name

        p= data.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          

          each technology in data.technologies
            li= technology

        a.btn-link(target="_blank" href=`${data.live_link}`) Live Demo
        a.btn-link(target="_blank" href=`${data.github_link}`) GitHub Repo

    .project-img-box.box


      each image in data.image_urls
        if image != data.image_urls[0]
        
          img.project-img(src=`${image}`, alt=`${data.description}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
